## Data Load

In [157]:
import pandas as pd
pd.options.display.max_columns = 70
pd.options.display.max_info_columns = 70
pd.options.display.max_rows = 100

data_source = pd.read_csv(r"data/data_1950-2021/seasons_stats.csv",encoding='latin-1')
cols = ['Tm','Year', 'Player', 'Pos', 'Age', 'G', 'GS', 'MP',
       'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%',
       'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV',
       'PF', 'PTS', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%',
       'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48',
       'OBPM', 'DBPM', 'BPM', 'VORP']       
data_source = data_source[cols].query("Year >= 1982 and Year < 2022").reset_index(drop=True)
data_source.info() #20935 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20935 entries, 0 to 20934
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      20935 non-null  object
 1   Year    20935 non-null  int64
 2   Player  20935 non-null  object
 3   Pos     20935 non-null  object
 4   Age     20935 non-null  float64
 5   G       20935 non-null  int64
 6   GS      20935 non-null  float64
 7   MP      20935 non-null  float64
 8   FG      20935 non-null  int64
 9   FGA     20935 non-null  int64
 10  FG%     20834 non-null  float64
 11  3P      20935 non-null  float64
 12  3PA     20935 non-null  float64
 13  3P%     17415 non-null  float64
 14  2P      20935 non-null  int64
 15  2PA     20935 non-null  int64
 16  2P%     20774 non-null  float64
 17  eFG%    20834 non-null  float64
 18  FT      20935 non-null  int64
 19  FTA     20935 non-null  int64
 20  FT%     20045 non-null  float64
 21  ORB     20935 non-null  float64
 22  DRB     20935 non-null  float64
 23  TRB     20935 non-null  float64
 24  AST     20935 non-null  int64
 25  STL     20935 non-null  float64
 26  BLK     20935 non-null  float64
 27  TOV     20935 non-null  float64
 28  PF      20935 non-null  int64
 29  PTS     20935 non-null  int64
 30  PER     20930 non-null  float64
 31  TS%     20845 non-null  float64
 32  3PAr    20834 non-null  float64
 33  FTr     20834 non-null  float64
 34  ORB%    20930 non-null  float64
 35  DRB%    20930 non-null  float64
 36  TRB%    20930 non-null  float64
 37  AST%    20930 non-null  float64
 38  STL%    20930 non-null  float64
 39  BLK%    20930 non-null  float64
 40  TOV%    20861 non-null  float64
 41  USG%    20930 non-null  float64
 42  OWS     20935 non-null  float64
 43  DWS     20935 non-null  float64
 44  WS      20935 non-null  float64
 45  WS/48   20930 non-null  float64
 46  OBPM    20935 non-null  float64
 47  DBPM    20935 non-null  float64
 48  BPM     20935 non-null  float64
 49  VORP    20935 non-null  float64
dtypes: float64(36), int64(11), object(3)
memory usage: 8.0+ MB

In [158]:
totals_2022 = pd.read_csv(r"data/data_2022/totals_2022.csv",encoding='latin-1')
advanced_2022 = pd.read_csv(r"data/data_2022/advanced_2022.csv",encoding='latin-1')
totals_2023 = pd.read_csv(r"data/data_2023/totals_2023.csv",encoding='latin-1')
advanced_2023 = pd.read_csv(r"data/data_2023/advanced_2023.csv",encoding='latin-1')

cols.remove("Year")

for tot,adv,year in [ (totals_2022,advanced_2022,2022),(totals_2023,advanced_2023,2023) ]:
       tmp_data = pd.concat([tot,adv],axis=1)
       tmp_data = tmp_data[cols].loc[:,~tmp_data[cols].columns.duplicated()]
       tmp_data.insert(0,'Year',year)
       data_source = pd.concat([data_source,tmp_data])
       
data_source.reset_index(drop=True,inplace = True)
data_source.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22426 entries, 0 to 22425
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      22426 non-null  object
 1   Year    22426 non-null  int64
 2   Player  22426 non-null  object
 3   Pos     22426 non-null  object
 4   Age     22426 non-null  float64
 5   G       22426 non-null  int64
 6   GS      22426 non-null  float64
 7   MP      22426 non-null  float64
 8   FG      22426 non-null  int64
 9   FGA     22426 non-null  int64
 10  FG%     22307 non-null  float64
 11  3P      22426 non-null  float64
 12  3PA     22426 non-null  float64
 13  3P%     18810 non-null  float64
 14  2P      22426 non-null  int64
 15  2PA     22426 non-null  int64
 16  2P%     22230 non-null  float64
 17  eFG%    22307 non-null  float64
 18  FT      22426 non-null  int64
 19  FTA     22426 non-null  int64
 20  FT%     21402 non-null  float64
 21  ORB     22426 non-null  float64
 22  DRB     22426 non-null  float64
 23  TRB     22426 non-null  float64
 24  AST     22426 non-null  int64
 25  STL     22426 non-null  float64
 26  BLK     22426 non-null  float64
 27  TOV     22426 non-null  float64
 28  PF      22426 non-null  int64
 29  PTS     22426 non-null  int64
 30  PER     22421 non-null  float64
 31  TS%     22320 non-null  float64
 32  3PAr    22307 non-null  float64
 33  FTr     22307 non-null  float64
 34  ORB%    22421 non-null  float64
 35  DRB%    22421 non-null  float64
 36  TRB%    22421 non-null  float64
 37  AST%    22421 non-null  float64
 38  STL%    22421 non-null  float64
 39  BLK%    22421 non-null  float64
 40  TOV%    22338 non-null  float64
 41  USG%    22421 non-null  float64
 42  OWS     22426 non-null  float64
 43  DWS     22426 non-null  float64
 44  WS      22426 non-null  float64
 45  WS/48   22421 non-null  float64
 46  OBPM    22426 non-null  float64
 47  DBPM    22426 non-null  float64
 48  BPM     22426 non-null  float64
 49  VORP    22426 non-null  float64
dtypes: float64(36), int64(11), object(3)
memory usage: 8.6+ MB

## Removing "duplicate" data

In [159]:
data = data_source.copy()
#Drop rows with all missing values 
data.dropna(axis=0,how='all',inplace=True)
#Check for duplicated rows
data.duplicated().any() #False
data.duplicated(subset = ['Year', 'Player']).any() #True 
data = data[~data.duplicated(subset = ['Year', 'Player'], keep = 'first')]

In [160]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18214 entries, 0 to 22425
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      18214 non-null  object
 1   Year    18214 non-null  int64
 2   Player  18214 non-null  object
 3   Pos     18214 non-null  object
 4   Age     18214 non-null  float64
 5   G       18214 non-null  int64
 6   GS      18214 non-null  float64
 7   MP      18214 non-null  float64
 8   FG      18214 non-null  int64
 9   FGA     18214 non-null  int64
 10  FG%     18149 non-null  float64
 11  3P      18214 non-null  float64
 12  3PA     18214 non-null  float64
 13  3P%     15579 non-null  float64
 14  2P      18214 non-null  int64
 15  2PA     18214 non-null  int64
 16  2P%     18103 non-null  float64
 17  eFG%    18149 non-null  float64
 18  FT      18214 non-null  int64
 19  FTA     18214 non-null  int64
 20  FT%     17616 non-null  float64
 21  ORB     18214 non-null  float64
 22  DRB     18214 non-null  float64
 23  TRB     18214 non-null  float64
 24  AST     18214 non-null  int64
 25  STL     18214 non-null  float64
 26  BLK     18214 non-null  float64
 27  TOV     18214 non-null  float64
 28  PF      18214 non-null  int64
 29  PTS     18214 non-null  int64
 30  PER     18211 non-null  float64
 31  TS%     18157 non-null  float64
 32  3PAr    18149 non-null  float64
 33  FTr     18149 non-null  float64
 34  ORB%    18211 non-null  float64
 35  DRB%    18211 non-null  float64
 36  TRB%    18211 non-null  float64
 37  AST%    18211 non-null  float64
 38  STL%    18211 non-null  float64
 39  BLK%    18211 non-null  float64
 40  TOV%    18167 non-null  float64
 41  USG%    18211 non-null  float64
 42  OWS     18214 non-null  float64
 43  DWS     18214 non-null  float64
 44  WS      18214 non-null  float64
 45  WS/48   18211 non-null  float64
 46  OBPM    18214 non-null  float64
 47  DBPM    18214 non-null  float64
 48  BPM     18214 non-null  float64
 49  VORP    18214 non-null  float64
dtypes: float64(36), int64(11), object(3)
memory usage: 7.1+ MB

## Adding MVP column

In [161]:
mvp_winners_data = pd.read_csv(r"data/mvp_winners_csv.csv",header=None,names=['Year','Player'])
mvp_winners_data['Year'] = (mvp_winners_data['Year'].str[:2] + mvp_winners_data['Year'].str[5:]).astype('double')
mvp_winners_data['MVP'] = 1

data['Player'] = data['Player'].str.replace('*','')
data = pd.merge(data,mvp_winners_data,on=['Year','Player'],how='left')
data.loc[(data['Year'] == 2021 ) & ( data["Player"].str.find('Nikola Joki') != -1 ),'MVP'] = 1
data.loc[(data['Year'] == 2022 ) & ( data["Player"].str.find('Nikola Joki') != -1 ),'MVP'] = 1
data['MVP'] = data['MVP'].fillna(0)

In [162]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18214 entries, 0 to 18213
Data columns (total 51 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      18214 non-null  object
 1   Year    18214 non-null  int64
 2   Player  18214 non-null  object
 3   Pos     18214 non-null  object
 4   Age     18214 non-null  float64
 5   G       18214 non-null  int64
 6   GS      18214 non-null  float64
 7   MP      18214 non-null  float64
 8   FG      18214 non-null  int64
 9   FGA     18214 non-null  int64
 10  FG%     18149 non-null  float64
 11  3P      18214 non-null  float64
 12  3PA     18214 non-null  float64
 13  3P%     15579 non-null  float64
 14  2P      18214 non-null  int64
 15  2PA     18214 non-null  int64
 16  2P%     18103 non-null  float64
 17  eFG%    18149 non-null  float64
 18  FT      18214 non-null  int64
 19  FTA     18214 non-null  int64
 20  FT%     17616 non-null  float64
 21  ORB     18214 non-null  float64
 22  DRB     18214 non-null  float64
 23  TRB     18214 non-null  float64
 24  AST     18214 non-null  int64
 25  STL     18214 non-null  float64
 26  BLK     18214 non-null  float64
 27  TOV     18214 non-null  float64
 28  PF      18214 non-null  int64
 29  PTS     18214 non-null  int64
 30  PER     18211 non-null  float64
 31  TS%     18157 non-null  float64
 32  3PAr    18149 non-null  float64
 33  FTr     18149 non-null  float64
 34  ORB%    18211 non-null  float64
 35  DRB%    18211 non-null  float64
 36  TRB%    18211 non-null  float64
 37  AST%    18211 non-null  float64
 38  STL%    18211 non-null  float64
 39  BLK%    18211 non-null  float64
 40  TOV%    18167 non-null  float64
 41  USG%    18211 non-null  float64
 42  OWS     18214 non-null  float64
 43  DWS     18214 non-null  float64
 44  WS      18214 non-null  float64
 45  WS/48   18211 non-null  float64
 46  OBPM    18214 non-null  float64
 47  DBPM    18214 non-null  float64
 48  BPM     18214 non-null  float64
 49  VORP    18214 non-null  float64
 50  MVP     18214 non-null  float64
dtypes: float64(37), int64(11), object(3)
memory usage: 7.1+ MB

## Filling missing values

In [163]:
missing_cels = data.isnull().sum().sum()
all_cels = data.shape[0] * data.shape[1]
print("Missing values:", round(missing_cels / all_cels * 100,4),"%")

Missing values: 0.4021 %

In [164]:
print(data.isnull().mean()[data.isnull().mean() > 0 ])
#Deleting 3 players with NAN that are not significant 
data = data[data['USG%'].notna()]
#Filling data for players that didnt make single shot
data['FG%'].fillna(0,inplace=True)
data['2P%'].fillna(0,inplace=True)
data['3P%'].fillna(0,inplace=True)
data['eFG%'].fillna(0,inplace=True)
data['FT%'].fillna(0,inplace=True)
data['TS%'].fillna(0,inplace=True)
data['3PAr'].fillna(0,inplace=True)
data['FTr'].fillna(0,inplace=True)
data['TOV%'].fillna(0,inplace=True)
data.isnull().mean().mean()

FG%      0.003569
3P%      0.144669
2P%      0.006094
eFG%     0.003569
FT%      0.032832
PER      0.000165
TS%      0.003129
3PAr     0.003569
FTr      0.003569
ORB%     0.000165
DRB%     0.000165
TRB%     0.000165
AST%     0.000165
STL%     0.000165
BLK%     0.000165
TOV%     0.002580
USG%     0.000165
WS/48    0.000165
dtype: float64

0.0

In [165]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18211 entries, 0 to 18213
Data columns (total 51 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      18211 non-null  object
 1   Year    18211 non-null  int64
 2   Player  18211 non-null  object
 3   Pos     18211 non-null  object
 4   Age     18211 non-null  float64
 5   G       18211 non-null  int64
 6   GS      18211 non-null  float64
 7   MP      18211 non-null  float64
 8   FG      18211 non-null  int64
 9   FGA     18211 non-null  int64
 10  FG%     18211 non-null  float64
 11  3P      18211 non-null  float64
 12  3PA     18211 non-null  float64
 13  3P%     18211 non-null  float64
 14  2P      18211 non-null  int64
 15  2PA     18211 non-null  int64
 16  2P%     18211 non-null  float64
 17  eFG%    18211 non-null  float64
 18  FT      18211 non-null  int64
 19  FTA     18211 non-null  int64
 20  FT%     18211 non-null  float64
 21  ORB     18211 non-null  float64
 22  DRB     18211 non-null  float64
 23  TRB     18211 non-null  float64
 24  AST     18211 non-null  int64
 25  STL     18211 non-null  float64
 26  BLK     18211 non-null  float64
 27  TOV     18211 non-null  float64
 28  PF      18211 non-null  int64
 29  PTS     18211 non-null  int64
 30  PER     18211 non-null  float64
 31  TS%     18211 non-null  float64
 32  3PAr    18211 non-null  float64
 33  FTr     18211 non-null  float64
 34  ORB%    18211 non-null  float64
 35  DRB%    18211 non-null  float64
 36  TRB%    18211 non-null  float64
 37  AST%    18211 non-null  float64
 38  STL%    18211 non-null  float64
 39  BLK%    18211 non-null  float64
 40  TOV%    18211 non-null  float64
 41  USG%    18211 non-null  float64
 42  OWS     18211 non-null  float64
 43  DWS     18211 non-null  float64
 44  WS      18211 non-null  float64
 45  WS/48   18211 non-null  float64
 46  OBPM    18211 non-null  float64
 47  DBPM    18211 non-null  float64
 48  BPM     18211 non-null  float64
 49  VORP    18211 non-null  float64
 50  MVP     18211 non-null  float64
dtypes: float64(37), int64(11), object(3)
memory usage: 7.2+ MB

## Adding MVP voting data

In [166]:
votings_to_2017 = pd.read_csv(r"data/votings/mvp_votings.csv")
votings_to_2017 = votings_to_2017[["season","player","votes_first","points_won","points_max","award_share"]]
votings_to_2017["season"] = (votings_to_2017['season'].str[:2] + votings_to_2017['season'].str[5:]).astype('double') 
votings_to_2017 = votings_to_2017[votings_to_2017["season"] > 1981]
votings_to_2017 = votings_to_2017.reset_index(drop=True)
votings_to_2017 = votings_to_2017[["player","votes_first","points_won","points_max","award_share","season"]]
votings_to_2017.rename(columns={"player": "Player", "season": "Year"},inplace = True)
votings_to_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player       590 non-null    object
 1   votes_first  590 non-null    float64
 2   points_won   590 non-null    float64
 3   points_max   590 non-null    float64
 4   award_share  590 non-null    float64
 5   Year         590 non-null    float64
dtypes: float64(5), object(1)
memory usage: 27.8+ KB

In [167]:
votings_to_2017["Year"].value_counts().index.sort_values()

Index([1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0,
       1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0,
       2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0,
       2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
      dtype='float64', name='Year')

In [168]:
cols = ["Player","First","Pts Won","Pts Max","Share"]
votings_2000 = pd.read_table(r"data\votings\votings_2000.txt",usecols=cols)
votings_2019 = pd.read_table(r"data\votings\votings_2019.txt",usecols=cols)
votings_2020 = pd.read_table(r"data\votings\votings_2020.txt",usecols=cols)
votings_2021 = pd.read_table(r"data\votings\votings_2021.txt",usecols=cols)
votings_2022 = pd.read_table(r"data\votings\votings_2022.txt",usecols=cols)
votings_2023 = pd.read_table(r"data\votings\votings_2023.txt",usecols=cols,sep=",")

votings_full = votings_to_2017.copy()

for votings,year in [ (votings_2000,2000),(votings_2019,2019),(votings_2020,2020),(votings_2021,2021),(votings_2022,2022),(votings_2023,2023) ]:
    votings.columns = ["Player","votes_first","points_won","points_max","award_share"]
    votings['Year'] = year
    votings_full = pd.concat([votings_full,votings])

In [169]:
data['Player'] = data['Player'].where(data['Player'] != "Nikola JokiÄ","Nikola Jokić" )
data['Player'] = data['Player'].where(data['Player'] != "Luka DonÄiÄ","Luka Dončić" )

In [170]:
votings_full['Player'] = votings_full['Player'].where(votings_full['Player'] != "World B. Free","World B." )
votings_full['Player'] = votings_full['Player'].where(votings_full['Player'] != "Micheal Ray Richardson","Micheal Ray" )
votings_full['Player'] = votings_full['Player'].where(votings_full['Player'] != "Joe Barry Carroll","Joe Barry" )
votings_full['Player'] = votings_full['Player'].where(votings_full['Player'] != "Joe Barry Carroll","Joe Barry" )

data_new = pd.merge(data,votings_full,on=['Year','Player'],how='left')
data_new.fillna(0,inplace=True)
data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18211 entries, 0 to 18210
Data columns (total 55 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Tm           18211 non-null  object
 1   Year         18211 non-null  int64
 2   Player       18211 non-null  object
 3   Pos          18211 non-null  object
 4   Age          18211 non-null  float64
 5   G            18211 non-null  int64
 6   GS           18211 non-null  float64
 7   MP           18211 non-null  float64
 8   FG           18211 non-null  int64
 9   FGA          18211 non-null  int64
 10  FG%          18211 non-null  float64
 11  3P           18211 non-null  float64
 12  3PA          18211 non-null  float64
 13  3P%          18211 non-null  float64
 14  2P           18211 non-null  int64
 15  2PA          18211 non-null  int64
 16  2P%          18211 non-null  float64
 17  eFG%         18211 non-null  float64
 18  FT           18211 non-null  int64
 19  FTA          18211 non-null  int64
 20  FT%          18211 non-null  float64
 21  ORB          18211 non-null  float64
 22  DRB          18211 non-null  float64
 23  TRB          18211 non-null  float64
 24  AST          18211 non-null  int64
 25  STL          18211 non-null  float64
 26  BLK          18211 non-null  float64
 27  TOV          18211 non-null  float64
 28  PF           18211 non-null  int64
 29  PTS          18211 non-null  int64
 30  PER          18211 non-null  float64
 31  TS%          18211 non-null  float64
 32  3PAr         18211 non-null  float64
 33  FTr          18211 non-null  float64
 34  ORB%         18211 non-null  float64
 35  DRB%         18211 non-null  float64
 36  TRB%         18211 non-null  float64
 37  AST%         18211 non-null  float64
 38  STL%         18211 non-null  float64
 39  BLK%         18211 non-null  float64
 40  TOV%         18211 non-null  float64
 41  USG%         18211 non-null  float64
 42  OWS          18211 non-null  float64
 43  DWS          18211 non-null  float64
 44  WS           18211 non-null  float64
 45  WS/48        18211 non-null  float64
 46  OBPM         18211 non-null  float64
 47  DBPM         18211 non-null  float64
 48  BPM          18211 non-null  float64
 49  VORP         18211 non-null  float64
 50  MVP          18211 non-null  float64
 51  votes_first  18211 non-null  float64
 52  points_won   18211 non-null  float64
 53  points_max   18211 non-null  float64
 54  award_share  18211 non-null  float64
dtypes: float64(41), int64(11), object(3)
memory usage: 7.6+ MB

In [171]:
data_new.describe()

,Year,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,MVP,votes_first,points_won,points_max,award_share
count,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000,18211.000000
mean,2004.368733,26.623799,53.324804,25.948163,1254.357641,201.647246,436.275548,0.441495,30.297348,85.796222,0.224969,171.349898,350.479326,0.467098,0.474535,99.775356,131.952941,0.703503,62.885673,159.144199,222.029872,120.276426,41.347318,26.103674,76.385646,114.182582,533.367196,12.791994,0.512853,0.200086,0.307665,5.981456,14.096233,10.039844,13.152177,1.631179,1.541739,14.346543,18.849212,1.369085,1.282412,2.652336,0.072620,-1.528428,-0.388891,-1.917248,0.633579,0.002306,0.246390,6.404530,38.737027,0.005995
std,11.930839,4.116372,25.279531,29.330347,912.937302,182.790931,382.458744,0.097163,46.137752,122.179505,0.180176,166.437053,330.610337,0.106478,0.100003,109.296427,138.982131,0.189923,65.982011,144.954127,204.117099,141.050831,37.487977,36.672726,66.460322,78.577825,488.205054,6.149131,0.096387,0.211098,0.214950,4.850148,6.517690,4.957655,9.447598,1.020286,1.780582,6.338286,5.467800,2.088470,1.219175,3.005262,0.099936,3.972726,2.175003,4.937409,1.389700,0.047970,4.169922,64.596217,201.489886,0.059241
min,1982.000000,18.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-90.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3.300000,-1.000000,-2.100000,-2.519000,-73.800000,-31.100000,-86.700000,-2.600000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1995.000000,23.000000,34.000000,1.000000,404.000000,49.000000,114.000000,0.404000,0.000000,2.000000,0.000000,38.000000,83.000000,0.431000,0.442000,19.000000,28.000000,0.652000,15.000000,43.000000,61.000000,21.000000,11.000000,4.000000,21.000000,45.000000,127.000000,9.900000,0.482000,0.009000,0.191000,2.400000,9.300000,6.200000,6.500000,1.100000,0.400000,10.900000,15.300000,0.000000,0.300000,0.300000,0.038000,-3.200000,-1.500000,-3.800000,-0.200000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2005.000000,26.000000,61.000000,11.000000,1173.000000,155.000000,344.000000,0.446000,6.000000,22.000000,0.278000,122.000000,256.000000,0.474000,0.484000,63.000000,87.000000,0.749000,40.000000,125.000000,171.000000,72.000000,33.000000,13.000000,60.000000,111.000000,407.000000,12.900000,0.524000,0.128000,0.277000,4.900000,13.100000,9.200000,10.400000,1.500000,1.000000,13.600000,18.500000,0.600000,1.000000,1.700000,0.081000,-1.300000,-0.400000,-1.500000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2015.000000,29.000000,76.000000,52.000000,1996.000000,309.000000,668.500000,0.488000,46.000000,133.000000,0.358000,257.000000,527.000000,0.514000,0.521000,143.000000,192.000000,0.814000,90.000000,230.000000,319.000000,166.000000,61.000000,32.000000,115.000000,173.000000,815.000000,15.900000,0.560000,0.355000,0.383000,8.800000,18.200000,13.400000,17.800000,2.000000,2.100000,16.900000,22.100000,2.200000,1.900000,4.100000,0.119000,0.400000,0.800000,0.600000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2023.000000,44.000000,85.000000,83.000000,3533.000000,1098.000000,2279.000000,1.000000,402.000000,1028.000000,1.000000,1086.000000,2213.000000,1.000000,1.500000,833.000000,972.000000,1.000000,558.000000,1007.000000,1530.000000,1164.000000,301.000000,456.000000,464.000000,386.000000,3041.000000,133.800000,1.500000,1.000000,6.000000,100.000000,100.000000,86.400000,100.000000,25.000000,77.800000,100.000000,100.000000,15.200000,9.100000,21.200000,2.712000,199.400000,46.800000,242.200000,12.400000,1.000000,131.000000,1310.000000,1310.000000,1.000000

## Saving cleaned data

In [173]:
data_new.to_csv(r"data/cleared_data.csv")
data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18211 entries, 0 to 18210
Data columns (total 55 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Tm           18211 non-null  object
 1   Year         18211 non-null  int64
 2   Player       18211 non-null  object
 3   Pos          18211 non-null  object
 4   Age          18211 non-null  float64
 5   G            18211 non-null  int64
 6   GS           18211 non-null  float64
 7   MP           18211 non-null  float64
 8   FG           18211 non-null  int64
 9   FGA          18211 non-null  int64
 10  FG%          18211 non-null  float64
 11  3P           18211 non-null  float64
 12  3PA          18211 non-null  float64
 13  3P%          18211 non-null  float64
 14  2P           18211 non-null  int64
 15  2PA          18211 non-null  int64
 16  2P%          18211 non-null  float64
 17  eFG%         18211 non-null  float64
 18  FT           18211 non-null  int64
 19  FTA          18211 non-null  int64
 20  FT%          18211 non-null  float64
 21  ORB          18211 non-null  float64
 22  DRB          18211 non-null  float64
 23  TRB          18211 non-null  float64
 24  AST          18211 non-null  int64
 25  STL          18211 non-null  float64
 26  BLK          18211 non-null  float64
 27  TOV          18211 non-null  float64
 28  PF           18211 non-null  int64
 29  PTS          18211 non-null  int64
 30  PER          18211 non-null  float64
 31  TS%          18211 non-null  float64
 32  3PAr         18211 non-null  float64
 33  FTr          18211 non-null  float64
 34  ORB%         18211 non-null  float64
 35  DRB%         18211 non-null  float64
 36  TRB%         18211 non-null  float64
 37  AST%         18211 non-null  float64
 38  STL%         18211 non-null  float64
 39  BLK%         18211 non-null  float64
 40  TOV%         18211 non-null  float64
 41  USG%         18211 non-null  float64
 42  OWS          18211 non-null  float64
 43  DWS          18211 non-null  float64
 44  WS           18211 non-null  float64
 45  WS/48        18211 non-null  float64
 46  OBPM         18211 non-null  float64
 47  DBPM         18211 non-null  float64
 48  BPM          18211 non-null  float64
 49  VORP         18211 non-null  float64
 50  MVP          18211 non-null  float64
 51  votes_first  18211 non-null  float64
 52  points_won   18211 non-null  float64
 53  points_max   18211 non-null  float64
 54  award_share  18211 non-null  float64
dtypes: float64(41), int64(11), object(3)
memory usage: 7.6+ MB